* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
body {
  background-color: #132d3a;
}

.firstLine {
  width: 30%;
  border: 2px solid #61dbfb;
}

.name {
  color: #61dbfb;
}

.hold {
  height: 220px;
}
.headerColor {
  background-color: #0f242e;
}

.nav:hover {
  color: white !important;
}
.nav {
  text-decoration: none !important;
  color: white !important;
}
.footerNav {
  text-decoration: none !important;
  color: white;
}
.footerNav:hover {
  color: #61dbfb;
}
.active {
  border-bottom: 1px solid #61dbfb;
}
.amoled {
  width: 400px;
}
.logoHolder {
  width: 400px;
  height: 172px;
  border: 2px solid white !important;
  border-width: 0.4ex 0.4ex 1.15ex !important;
  display: flex;
  justify-content: center;
}

.text {
  color: #61dbfb;
}

.textAbout {
  font-size: 18px;
}
.fBtn {
  background-color: white;
  color: #0f242e;
  font-weight: bold;
  border: 1px solid #0f242e;
}
.fBtn:hover {
  border: 1px solid #61dbfb;
  color: #0f242e;
  background-color: #61dbfb;
}
.fBtn:focus {
  border: 1px solid white;
  color: #0f242e;
  background-color: white;
  box-shadow: none;
}

.dev {
  width: 65%;
  float: right;
  margin-top: 45px;
}
.borderLeft {
  border-left: 1px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: reactLogo infinite 20s linear;
  }
}
@keyframes reactLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reactLogo {
  color: #61dbfb;
}

.flexNav {
  display: flex !important;
  justify-content: space-between !important;
  color: red !important;
}
.btns {
  border-radius: 50%;
  background: transparent;
  color: white;
  transition: all 0.3s ease 0s;
  margin-bottom: 3px;
}
.onOfBtn {
  position: absolute;
  top: 27%;
}
.mlSlash {
  margin-left: -3px;
}
.mlTag {
  margin-left: -14px;
}
.footer {
  min-height: 180px;
  background-color: #0f242e;
}
.input {
  background-color: transparent !important;
  color: white !important;
  border: 0 !important;
  border-bottom: 2px solid white !important;
  border-radius: none !important;
}

.input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px solid white !important;
}
.skills {
  width: 90px;
  height: 85px;
  border: 1px solid none;
}
.mtPhone {
  margin-top: 1.4%;
}
.mI1 {
  width: 38px;
  height: 38px;
}
.fontIcons {
  font-size: 14px;
}
.m4 {
  margin-top: 18px;
}
.typed-text {
  background-color: transparent !important;
  color: white;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
}

@media all and (max-width: 1024px) {
  .mS2 {
    margin-top: 30px !important;
  }
  .dev {
    width: 75%;
    margin-top: 70px;
  }
}
@media all and (max-width: 768px) {
  .amoled {
    width: 400px;
  }
  .mS2 {
    margin-top: 3px !important;
  }
  .dev {
    width: 60%;
    float: none;
    margin: 50px auto;
    display: flex;
  }
}

@media all and (max-width: 425px) {
  .amoled {
    width: 395px;
  }
  .skills {
    width: 70px;
    height: 65px;
  }
  .mH {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    font-size: 20px;
  }
  .hAbout {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 27px;
  }
  .mI1 {
    width: 30px;
    height: 30px;
    margin-top: 12px !important;
  }

  .mS1 {
    margin-top: 25px !important;
  }
  .mS2 {
    margin-top: 6px !important;
  }
  .fMore {
    font-size: 14px;
  }
  .fBtn {
    font-size: 13px;
  }
  .fCopy {
    font-size: 12px;
  }
  .hPro {
    font-size: 18px;
  }
  .footerNav {
    font-size: 14px;
  }
}

@media all and (max-width: 375px) {
  .amoled {
    width: 350px;
    height: 150px;
  }
  .logoHolder {
    width: 350px;
    height: 150px;
    border-width: 0.4ex 0.4ex 1ex !important;
  }
  .reactLogo {
    width: 110px;
    height: 110px;
    margin-top: 12px !important;
  }
  .mSwitch {
    margin-top: -20px !important;
  }
  .fontIcons {
    font-size: 13px;
  }
  .skills {
    width: 70px;
    height: 65px;
  }
  .mH {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    font-size: 18px;
  }
  .hAbout {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 23px;
  }
  .mP {
    font-size: 14px;
  }
  .fontIcons {
    font-size: 13px;
  }
  .mI1 {
    width: 25px;
    height: 25px;
    margin-top: 10px !important;
  }
  .mS1 {
    margin-top: 25px !important;
  }
  .mS2 {
    margin-top: 0px !important;
  }
  .fMore {
    font-size: 14px;
  }
  .fBtn {
    font-size: 13px;
  }
  .fCopy {
    font-size: 12px;
  }
  .hPro {
    font-size: 18px;
  }
  .textAbout {
    font-size: 17px;
  }
}

@media all and (max-width: 360px) {
  .hAbout {
    font-size: 23px;
  }
  .textAbout {
    font-size: 16px;
  }
}

@media all and (max-width: 320px) {
  .amoled {
    width: 290px;
    height: 140px;
  }
  .logoHolder {
    height: 140px;
    border-width: 0.4ex 0.4ex 0.9ex !important;
  }
  .reactLogo {
    width: 100px;
    height: 100px;
    margin-top: 14px !important;
  }
  .mSwitch {
    margin-top: -30px !important;
  }

  .mH {
    margin-top: 25px !important;
    margin-bottom: 10px !important;
    font-size: 18px;
  }
  .hAbout {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 20px;
  }
  .mP {
    font-size: 14px;
  }
  .mI1 {
    width: 25px;
    height: 25px;
  }
  .mI3 {
    width: 38px;
    height: 34px;
  }
  .fontIcons {
    font-size: 12px;
  }
  .mS1 {
    margin-top: 25px !important;
  }
  .mS2 {
    margin-top: -15px !important;
  }
  .fMore {
    font-size: 13px;
  }
  .fBtn {
    font-size: 12px;
  }
  .fCopy {
    font-size: 11px;
  }
  .hPro {
    font-size: 16px;
  }
  .footerNav {
    font-size: 13px;
  }
  .textAbout {
    font-size: 15px;
  }
}
@media all and (max-width: 360px) {
  .amoled {
    width: 290px;
    height: 140px;
  }
  .logoHolder {
    height: 140px;
    width: 290px;
    border-width: 0.4ex 0.4ex 0.9ex !important;
  }
  .fCopy {
    font-size: 11px;
  }
}
